.top h1 {
    font-size: 3.5rem;
  }
  
  .top div {
    display: flex;
    margin: 2%;
  }
  
  
  .user {
    display: flex;
  }
  
  .user div {
    margin: 2%;
  }
  
  .followers {
    display: flex;
    flex-wrap: wrap;
  }
  
  .follower {
    margin: 2%;
  }